@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #111;
    color: #E53935;
}
.title{
    position: relative;
    width: 100%;
}
h1{
    font-family: "Montserrat Black", Arial, Helvetica, sans-serif;
    font-size: 60px;
    text-align: center;
    position: relative;
}
h3{
    font-family: "Montserrat Black", Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 15px 0 15px 15px;
    color: #E53935;
}
.back{
    margin-left: 15px;
}
#goBack{
    padding: 5px;
    border: none;
    border-radius: 3px;
    background-color: #E53935;
    color: #fff;
    font-family: "Montserrat Regular", Arial, Helvetica, sans-serif;
    transition: 0.25s;
    cursor: pointer;
}
#goBack:hover{
    background-color: #fff;
    color: #E53935;
}
.image{
    position: absolute;
    bottom: 5px;
    left: 15px;
    cursor: pointer;
    transform: scale(0);
    transform-origin: center;
    animation: image 0.4s ease-in forwards;
    animation-delay: 0.6s;
}
ul{
    margin-top: -30px;
}
li{
    margin: 15px 0;
    list-style-image: url("../images/icon.png");
    list-style-position: inside;
    font-family: "Montserrat Medium", Arial, Helvetica, sans-serif;
}
.github{
    color: #fff;
    margin-top: 10px;
    margin-left: 15px;
    display: flex;
    align-items: center;
}
.github a{
    color: #E53935;
    transition: 0.2s;
    margin-left: 15px;
}
.github a:hover{
    color: #fff;
}
span i{
    font-size: 40px;
    text-align: center;
}
a{
    text-decoration: none; 
}
.credits{
    /* display: grid;
    grid-template-columns:1fr; */
    margin-left: 15px;
}
.creditsToSuppliers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imagesCredits a{
    font-family: "Montserrat Medium", Arial, Helvetica, sans-serif;
    color: #fff;
}
.flaticon{
    font-family: "Montserrat Medium", Arial, Helvetica, sans-serif;
}
.flaticon a{
    font-family: "Montserrat Medium", Arial, Helvetica, sans-serif;
    color: #fff;
}
.tmdb{
    font-size: 18px;
    font-family: "Montserrat Medium", Arial, Helvetica, sans-serif;
    color: #fff;
    transition: 0.35s;
}
.tmdb:hover{
    color: #01d277;
}
.checkmarkImage{
    font-family: "Montserrat Medium", Arial, Helvetica, sans-serif;
}
.checkmarkImage a{
    font-family: "Montserrat Medium", Arial, Helvetica, sans-serif;
    color: #fff;
}
p{
    font-family: "Montserrat Medium", Arial, Helvetica, sans-serif;
}
.text >*{
    margin: 5px 0 0 15px;
}

@media (max-width: 895px){
    .credits{
        width: auto;
        text-align: center;
        margin: 0;
    }
    .text > *{
        margin-left: 5px;
    }
}
@media (max-width: 630px){
    .credits{
        grid-template-columns: 1fr;
    }
}