@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f5f5f5;
    color: #e1302a;
}
/* Button for small screens. */
.burger{
	display: none;
}
/* Menu for small screens. */
.slide{
	display: none
}
/* * Navigation bar - START. */
nav{
	position: relative;
	top: 0px;
	width: 100%;
	transition: 0.2s ease;
	background-color: transparent;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	color: #eee;
	margin-bottom: 30px;
}
nav a{
	color: #E53935;
}
.menu{
	font-weight: bold;
    font-family: "Montserrat Medium", Arial, Helvetica, sans-serif;
    justify-content: flex-end;
}
.menu ul{
    display: flex;
    justify-content: flex-end;
	margin-right: 50px;
	z-index: 2;
}
.menu ul .list{
	padding: 15px;
	cursor: pointer;
	position: relative;
	transition: all 0.3s;
	margin: 0 5px;
	transition: 0.25s;
}
.menu ul li a::before{
    content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 1px;
	border: 2px solid #e1302a;
	border-width: 0 0 2px 0;
	transition: 0.25s ease-out;
	opacity: 0;
}
.menu ul li a::after{
    content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 1px;
	border: 2px solid #e1302a;
	border-width: 0 0 2px 0;
	transition: 0.25s ease-out;
	opacity: 0;
}
.menu ul li a:hover::before{
    width: 50%;
    opacity: 1;
    right: 0px;
}
.menu ul li a:hover::after{
    width: 50%;
    opacity: 1;
    left: 0px;
}
.menu ul .list a:hover {
	color: #E53935;
}
.menu ul .list a{
	padding: 5px;
	position: relative;
}
.menu ul .list a:nth-child(1){
	transition: 0.25s;
}
.menu ul .list span{
	display: inline-block;
	opacity: 1;
}
.menu ul .list .firstUnordered{
	display: none;
	position: relative;
}
.menu ul .list:hover .firstUnordered{
	display: block;
	position: absolute;
	top: 90%;
	left: 0;
	background-color: #f5f5f5;
	width: 184px;
	box-shadow: 8px 8px rgba(0,0,0,0.35);
	animation: dropdown 0.5s ease-out forwards;
	z-index: 9;
}
.menu ul .list .firstUnordered li{
	display: block;
	width: 100%;
	margin: 0;
	padding: 10px;
	transition: all 0.3s;
	z-index: 9;
	background-color: transparent;
}
.menu ul .list .firstUnordered li:hover{
	background-color: rgba(0,0,0,0.1);
}
.menu ul li ul li a:hover::before{
	content: "";
	width: 0;
}
.menu ul li ul li a:hover::after{
	content: "";
	width: 0;
}
.menu ul li ul li:hover{
	background-color:red;
	padding-left: 5px;
}
.menu ul li ul li a{
	display: block;
	color: #E53935;
	padding: 5px;
	transition: all 0.3s;
}

.menu ul li ul li:hover a{
	color:#e1302a;
}
/* MENU END */


.title{
    margin-top: 0;
    position: relative;
    width: 100%;
}
h1{
    font-family: "Paytone One", Arial, Helvetica, sans-serif;
    font-size: 60px;
    text-align: center;
    position: relative;
    letter-spacing: 2px;
}
.text {
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.text p {
    font-family: "Montserrat SemiBold";
}
.text li {
    font-family: "Montserrat Medium";
    color: #555;
    list-style-type: none;
    margin: 5px 0;
}

/* Github link */
.github{
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: "Montserrat Medium";
}
.github i {
    transition: 0.2s ease;
    color: #444;
    font-size: 30px;
}
.github > *{
    margin: 0 5px;
}
.github i:hover{
    color: #e1302a;
}

/* Back button */
.back {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 15px 0;
}
.back a {
    font-family: "Montserrat SemiBold";
    cursor: pointer;
    padding: 5px;
    border: none;
    color: #fff;
    background-color: #e1302a;
    box-shadow: 0 3px rgba(0,0,0,0.1);
    transition: 0.2s ease;
}
.back a:hover{
    background-color: #ffffff;
	color: #e1302a;
	box-shadow: 4px 4px rgba(0,0,0,0.15);
}

/* Credits  section*/
.credits {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.credits h3{
    font-size: 35px;
    letter-spacing: 2px;
    font-family: "Paytone One";
}
.credits > * {
    margin: 10px 10px;
}
.credits a {
    font-family: "Montserrat Medium";
    color: #44bd32;
    text-decoration: underline;
}
/* Max-width 684 px. */
@media (max-width: 684px){
	.title{
		margin-top: -40px;
	}
	.menu{
		display: none;
	}
	.burger{
		height: 30px;
		width: 28px;
		display: block;
		margin-right: 15px;
		margin-top: 5px;
        position: relative;
		overflow: hidden;
		cursor: pointer;
	}
	.burger span{
		width: 100%;
		height: 5px;
		border-radius: 2px;
		background-color: #e1302a;
		display: block;
		position: absolute;
		transition: all 0.5s;
	}
	nav{
		padding: 5px 0;
	}
	.sticky .burger span{
		background-color: #e1302a;
	}
	.burger span:nth-child(1){
		top: 0px;
		left: 0px;
	}
	.burger span:nth-child(2){
		top: 11px;
		left: -15px;
	}
	.burger:hover span:nth-child(2){
		left: 0px;
	}
	.burger span:nth-child(3){
		top: 22px;
	}
	.burger.active span:nth-child(1){
		top: 15px;
		transform:rotate(45deg);
		z-index: 9;
	}
	.burger.active span:nth-child(2){
		left: 30px;
		opacity: 0;
	}
	.burger.active span:nth-child(3){
		top:15px;
		transform:rotate(-45deg);
		z-index: 9;
	}
	.burger.active span{
		background-color: #e1302a;
	}
	.burger.active:hover span{
		background-color: #333;
	}
	.slide{
		display: block;
		position: absolute;
		top: 0px;
		color: #e1302a;
		width: 100%;
		min-height: 100vh;
		background-color: #f5f5f5;
		transition: all 0.35s;
		font-weight: bold;
		z-index: 8;
		transform: translateX(-700px);
		font-family: "Montserrat SemiBold", Arial, Helvetica, sans-serif;
	}
	.slide.slideIn{
		transform: translateX(0px);
	}
	.slide a{
		color:#E53935;
		transition: 0.35s;
		display: block;
	}
	.slide a:hover{
		color: #444;
	}
	.slide ul{
		margin-top: 25px;
	}
	.slide ul li{
		padding: 15px;
		font-size: 20px;
		text-align: left;
		transition: all 0.2s;
		cursor: pointer;
		display: block;
		position: relative;
		color: #E53935;
	}
	.slide ul li span{
		position: absolute;
		left: 95px;
		opacity: 0;
		font-size: 20px;
	}
	.slide ul li:hover span{
		animation: upNdown 0.4s ease-in-out forwards;
	}
	.slide ul li:hover{
		color: #444;
	}
	.slide ul li #moviesDropdown{
		display: none;
	}
	.slide ul li #moviesDropdown.drop{
		display: block;
		animation: smallDrop 1s forwards;
	}
	.slide ul li #seriesDropdown{
		display: none;
	}
	.slide ul li #seriesDropdown.drop{
		display: block;
		animation: smallDrop 1s forwards;
	}
	.slide ul li #myListsDropdown{
		display: none;
	}
	.slide ul li #myListsDropdown.drop{
		display: block;
		animation: smallDrop 1s forwards;
	}
	.slide ul li ul li{
		font-size: 16px;
		display: block;
		padding: 10px;
		margin: 0;
		width: 100%;
		text-align: left;
	}
	.slide ul li ul li a{
		color: #e1302a;
	}
	.slide ul li ul li:hover{
		color: #444;
	}
}
/* Animation for dropdown menu on small screens. */
@keyframes smallDrop{
	0%{
		opacity: 0;
		transform:translateX(-100px);
	}
	100%{
		opacity: 1;
		transform:translateX(0px)
	}
}
/* Animation for sideway submenu */
@keyframes sideway{
	0%{
		opacity: 0;
		transform: translateX(50px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}