/* Include custom fonts */
@font-face{
	font-family: "Montserrat Regular";
	src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
	font-family: "Montserrat Medium";
	src: url("../fonts/Montserrat-Medium.ttf")
}
@font-face{
	font-family: "Montserrat Black";
	src: url("../fonts/Montserrat-Black.ttf")
}
@font-face{
	font-family: "Montserrat SemiBold";
	src: url("../fonts/Montserrat-SemiBold.ttf");
}
@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
	font-family: "Paytone One";
	src: url("../fonts/PaytoneOne-Regular.ttf");
}
/* Material Design Icons */
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/MaterialIcons-Regular.eot"); /* For IE6-8 */
	src: local('Material Icons'),
	  local('MaterialIcons-Regular'),
	  url("../fonts/MaterialIcons-Regular.woff2") format('woff2'),
	  url("../fonts/MaterialIcons-Regular.woff") format('woff'),
	  url("../fonts/MaterialIcons-Regular.ttf") format('truetype');
  }
  /* Ionicons font support */
  @font-face {
	  font-family: "Ionicons";
	  font-style: normal;
	  src: url("../fonts/ionicons.eot"); /* For IE6-8 */;
	  src: local("Ionicons"),
		  url("../fonts/ionicons.ttf") format("truetype"),
		  url("../fonts/ionicons.woff") format("woff");
  }