/* Include custom fonts */
@font-face{
	font-family: "Montserrat Regular";
	src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
	font-family: "Montserrat Medium";
	src: url("../fonts/Montserrat-Medium.ttf")
}
@font-face{
	font-family: "Montserrat Black";
	src: url("../fonts/Montserrat-Black.ttf")
}
@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins-Regular.ttf");
}