/* Global attributes */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f5f5f5;
}
div:focus, button:focus, span:focus{
    outline: none !important;
}
li{
    list-style-type: none;
}
/* MATERIAL DESIGN ICONS CSS */
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
  
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
  
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
  
	/* Support for IE. */
	font-feature-settings: 'liga';
  }
  .hot{
      color: #e1302a;
      font-size: 30px;
  }
/* Navigation menu */
nav{
    width: 100%;
    text-align: center;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
    margin-top: 5px;
}
nav ul li {
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
}
nav ul li a{
    text-decoration: none;
    font-family: "Montserrat SemiBold";
    color: #2f3640;
    font-size: 16px;
    position: relative;
}
nav ul li a:hover{
    color: #e1302a;
}
/* Title Section */
.title{
    margin-left: 10px;
}
.title h1{
    font-size: 80px;
    font-family: "Paytone One";
    color: #2f3640;
}
.title p{
    font-size: 18px;
    color: #444;
    font-family: "Paytone One";
}
#quote{
    min-height: 70px;
    margin: 15px 0;
    transition: all 0.2s;
    color: #e1302a;
    font-family: "Montserrat Regular";
    font-weight: bold;
    font-size: 14px;
    font-style: italic;
}

/* Popular movies section */
.popular{
    position: relative;
    margin: 50px 0;
}
.popularTitle{
    font-family: "Paytone One";
    color: #444;
    font-size: 25px;
    margin-left: 10px;
    position: absolute;
    left: 5%;
    top: -40px;
    display: flex;
    align-items: center;
}
.popularTitle span{
    margin-top: 5px;
    margin-left: 10px;
}
.popular a {
    position: absolute;
    top: -25px;
    right: 6%;
    text-decoration: none;
    color: #444;
    font-family: "Paytone One";
    transition: 0.2s ease;
}
.popular a:hover{
    color: #2f3640
}
/* See more section */
.seeMore{
    text-align: center;
}
.seeMore h2{
    font-size: 16px;
    font-family: "Montserrat Thin";
    color: #2f3640;
}
.seeMore_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.seeMore_buttons a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Paytone One";
    color: #555;
    font-size: 17px;
    margin: 0 10px;
    text-decoration: none;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.20);
    width: 110px;
    height: 35px;
    transition: 0.2s ease;
}
.seeMore_buttons a:hover{
    color: #e1302a;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.20);
}
/* Now Playing section */
.nowPlaying h1{
    font-family: "Paytone One";
    text-align: center;
    font-size: 65px;
    color: #444;
}
#nowPlayingText{
    text-align: center;
}
.nowPlaying p{
    font-family: "Montserrat Medium";
    font-size: 16px;
    color: #444;
}
.nowPlaying a{
    color: #e1302a;
    text-decoration: none;
    font-family: "Montserrat SemiBold";
}
/* MOVIE & TV SHOW CARDS */
.scroll{
    margin:15px auto;
    overflow: hidden;
    width: 88.5%;
    display: flex;
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transition: 0.5s ease;
}
.scroll .card:first-child{
    margin-left: 0px;
}
.scroll .card{
    margin: 0px 3px;
    position: relative;
    height: 450px;
    transition: 0.5s ease;
}
.scroll .card img{
    height: 450px;
}
.scroll .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    transition: 0.3s ease-in-out;
    padding: 10px;
    transform: translateY(-500px);
}
.scroll .overlay .movie{
    position: absolute;
    bottom: 0;
    left: 0;
}
.scroll .card .overlay .movie a{
	display: flex;
	position: static;
	justify-content: center;
	align-items: center;
    padding: 3px;
    width: 70px;
    height: 30px;
    border: none;
    background-color: #fff;
    color: #333;
    font-family: "Montserrat SemiBold";
    margin: 10px 15px;
    cursor: pointer;
	transition: 0.2s ease;
	outline: none !important;
}
.scroll .card .overlay .movie a:hover{
    background-color: #2f3640;
    color: #fff;
}
.scroll .movie p {
    font-family: "Montserrat Medium";
    color: #fff;
    font-size: 14px;
    margin-left: 5px;
}
.movie p span{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.movie p i {
	margin-left: 5px;
	margin-bottom: 2px;
	font-size: 22px;
}
.star{
	color: gold;
}
.date{
	text-shadow: 3px 3px rgba(0,0,0,0.35);
	color: #f2f2f2;
}
.scroll .overlay h2{
    font-family: "Montserrat Black";
    width: auto;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    padding: 5px;
}
.scroll .card:hover .overlay{
    transform:translateY(0px)
}
/* About section */
.about{
    text-align: center;
}
.about h1{
    font-family: "Paytone One";
    font-size: 65px;
    color: #444;
}
.about p{
    font-family: "Montserrat Medium";
    color: #444;
    font-size: 16px;
}
.about a{
    text-decoration: none;
    color: #e1302a;
    font-family: "Montserrat SemiBold";
}
.about_boxes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 25px 0;
}
.box{
    width: 240px;
    height: 237px;
    background-color: #f9f9f9;
    border-radius: 2px;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.15);
    transition: 0.4s ease;
    cursor: default;
}
.box:hover{
    transform: translateY(-10px);
    box-shadow: 0px 4px 30px rgba(0,0,0,0.2);
}
.box h3{
    font-family: "Paytone One";
    font-size: 20px;
    color: #2f3640;
}
.box p{
    font-family: "Montserrat Regular";
    font-size: 16px;
    color: #444;
}
.boxImg i{
    font-size: 45px;
    color: #e1302a;
}
/* Popcorn section */
.popcorn{
    margin: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popcorn a{
    font-family: "Paytone One";
    font-size: 20px;
    color: #2f3640;
    text-decoration: none;
    animation: wS 4s ease forwards infinite;
    animation-delay: 0.7s;
}
@keyframes wS{
    0%{
        transform: scale(1);
    }
    50%{
        animation: test 1s ease forwards infinite;
        transform: scale(1.1)
    }
    100%{
        transform: scale(1)
    }
}
@keyframes test{
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(5deg)
    }
}
/* Footer */
footer{
    border-top: 3px solid #2f364020;
    background-color: #eee;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "links deadpool credits";
    position: relative;
}
footer .links{
    grid-area: links;
    display: flex;
    margin-left: 10px;
}
footer .links > *{
    margin: 0 10px;
}
footer .links h3{
    font-family: "Paytone One";
    letter-spacing: 2px;
    font-size: 16px;
    color: #2f3640;
}
footer .links a{
    text-decoration: none;
    padding: 5px 0px;
    font-family: "Montserrat Regular";
    font-size: 16px;
    color: #2f3640;
}
footer .links a:hover{
    color: #e1302a;
}
footer .links .githubLink{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2f3640;
    font-family: "Montserrat Regular";
}
footer .links .githubLink img{
    cursor: pointer;
}
footer .deadpool{
    grid-area: deadpool;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
footer .deadpool img{
    margin-bottom: -3%;
}
footer .credits{
    grid-area: credits;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* MEDIA QUERIES */


/* For tablets and mobile phones. */
@media (max-width: 1024px){
    ::-webkit-scrollbar {
        width: 10px;
        height: 5px;
    }
    ::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 1px;
    }
    #movies, #tvShows, #nowPlaying{
        overflow-x: scroll;
    }
    .scroll .overlay{
        background-color: rgba(0,0,0,0.45);
        transform: translateY(0px);
    }
}
@media (max-width: 965px){
    footer .deadpool img{
        margin-bottom: -5%;
    }
}
@media (max-width: 982px){
    .about_boxes .box{
        margin: 15px 0;
    }
}

@media (max-width:765px){
    footer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "links"
        "credits"
        "deadpool";
    }
    footer .links{
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media (max-width: 675px){
    .title h1{
        font-size: 60px;
    }
}
@media (max-width: 522px){
    .title h1{
        font-size: 40px;
    }
    .title span img{
        width: 25px;
        height: 25px;
    }
}
@media (max-width:425px){
    .popular{
        margin-top: 10px;
    }
    .popularTitle{
        margin-left: 10px;
        position: initial;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .popular a {
        position: initial;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin-top: 10px;
        color: #444;
        font-family: "Paytone One";
        transition: 0.2s ease;
    }
    .title{
        text-align: center;
    }
    .title p {
        font-family: "Montserrat Medium";
        margin-top: 5px;
    }
    nav ul{
        margin: 0;
        justify-content: center;
    }
}
@media (max-width: 370px){
    .title h1{
        font-size: 30px;
    }
    .title span img{
        width: 18px;
        height: 18px;
    }
}
@media (max-width: 350px){
    .title{
        margin: 0;
    }
    footer .deadpool img{
        margin-bottom: -10px;
        width: 250px;
    }
    footer .credits{
        margin: 15px 0;
    }
    footer .credits img{
        width:130px;
    }
}