/* Import ionicons v2. */
@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important;
}
div:focus, button:focus, span:focus{
    outline: none !important;
}
body{
    background-color:#f5f5f5;
    color:#e1302a;
}
a{
    text-decoration: none;
    color: #e1302a;
    font-family: "Montserrat Medium", Arial, Helvetica, sans-serif;
}
li{
    list-style-type: none;
}
/* MATERIAL DESIGN ICONS CSS */
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
  
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
  
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
  
	/* Support for IE. */
	font-feature-settings: 'liga';
  }
  .hot{
      color: #e1302a;
      font-size: 30px;
  }
  .star{
      color: #FFC400;
      font-size: 30px;
  }
/* Global end. */

/* Navigation bar. */
nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}
nav ul li{
    margin: 0 5px;
    padding: 5px;
}
nav ul li a{
    position: relative;
    padding: 5px;
    display: block;
}
nav ul li a::before{
    content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 1px;
	border: 2px solid #e1302a;
	border-width: 0 0 2px 0;
	transition: 0.25s ease-out;
	opacity: 0;
}
nav ul li a::after{
    content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 1px;
	border: 2px solid #e1302a;
	border-width: 0 0 2px 0;
	transition: 0.25s ease-out;
	opacity: 0;
}
nav ul li a:hover::before{
    width: 50%;
    opacity: 1;
    right: 0px;
}
nav ul li a:hover::after{
    width: 50%;
    opacity: 1;
    left: 0px;
}
/* Navigation bar end. */

/* Text */
.text{
    margin-left: 10px;
    position: relative;
}
h1{
    font-family: "Paytone One", sans-serif;
    font-weight: 1000;
    font-size: 70px;
    transition: all 0.25s;
    letter-spacing: 2px;
}
.text h4{
    font-family: "Montserrat SemiBold", Arial, Helvetica, sans-serif;
    color: #555;
}
.text p{
    font-family: "Montserrat Regular", Arial, Helvetica, sans-serif;
    width: 650px;
}
.text #quote{
    font-family: "Montserrat Medium", Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 14px;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 100px;
    width: 550px;
    background-color: #aaaaaa20;
    box-shadow: 8px 8px rgba(0,0,0,0.15);
    border-radius: 1px;
    padding: 10px;
}
/* Text end. */

/* TEST - CLASS:SCROLL; FOR: EVERY OUTPUT (TOP RATED MOVIES, POPULAR MOVIES, TOP RATED SHOWS, POPULAR SHOWS) */
.topRated, .search_movies, .topRatedShows, .search_tvshows{
    position: relative;
    margin: 60px 0;
}
.topRated a, .search_movies a, .topRatedShows a, .search_tvshows a{
    font-family: "Montserrat SemiBold", Arial, Helvetica, sans-serif;
    margin: 10px;
    font-size: 16px;
    transition: 0.25s;
    height: 35px;
    padding: 3px 8px;
    color: #333;
    position: absolute;
    top: -35px;
    right: 5%;
}
.topRated h2, .search_movies h2, .topRatedShows h2, .search_tvshows h2{
    display: flex;
    align-items: center;
}
.topRated  span, .search_movies  span, .topRatedShows span, .search_tvshows span{
    margin-left: 5px;
}
.title{
    font-family: "Montserrat Black";
    color: #333;
    font-size: 24px;
    position: absolute;
    top: -40px;
    left: 6%;
    /* width: auto; */
}
.topRated a:hover, .search_movies a:hover, .topRatedShows a:hover, .search_tvshows a:hover{
    color: #e1302a;
}
.scroll{
    margin:15px auto;
    overflow: hidden;
    width: 88.5%;
    display: flex;
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transition: 0.5s ease;
}
.scroll .card{
    position: relative;
    height: 450px;
    transition: 0.5s ease;
}
.scroll .card img{
    height: 450px;
}
.scroll .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    transition: 0.3s ease-in-out;
    padding: 10px;
    transform: translateY(-500px);
}
.scroll .overlay .movie{
    position: absolute;
    bottom: 0;
    left: 0;
}
.scroll .card .overlay .movie a{
	display: flex;
	position: static;
	justify-content: center;
	align-items: center;
    padding: 3px;
    width: 70px;
    height: 30px;
    border: none;
    background-color: #fff;
    color: #333;
    font-family: "Montserrat SemiBold";
    margin: 10px 15px;
    cursor: pointer;
	transition: 0.2s ease;
	outline: none !important;
}
.scroll .card .overlay .movie a:hover{
    background-color: #e1302a;
    color: #fff;
}
.scroll .movie p {
    font-family: "Montserrat Medium";
    color: #fff;
    font-size: 14px;
    margin-left: 5px;
}
.scroll .overlay h2{
    font-family: "Montserrat Black";
    width: auto;
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
    padding: 5px;
}
.scroll .card:hover .overlay{
    transform:translateY(0px)
}
/* END */

/* Footer */
footer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;
    grid-template-areas: 
    "copy deadpool powered";
}
footer .copy{
    grid-area: copy;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat Medium", Arial, Helvetica, sans-serif;
}
footer .deadpool{
    grid-area: deadpool;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}
footer .deadpool img{
    width:250px;
}
footer .poweredBy{
    grid-area: powered;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* MEDIA QUERIES */
/* For tablets and mobile phones. */
@media (max-width: 1024px){
    ::-webkit-scrollbar {
        width: 10px;
        height: 5px;
    }
    ::-webkit-scrollbar-thumb {
        background: #e53935;
        border-radius: 1px;
    }
    #topRated, #movies, #topRatedShows, #tvShows{
        overflow-x: scroll;
    }
    .scroll .overlay{
        background-color: rgba(0,0,0,0.45);
        transform: translateY(0px);
    }
}
@media (max-width: 680px){
    .text p{
        width: 90%;
    }
    .text #quote{
        width: 80%;
        margin: 10px auto 10px auto;
    }
    .topRated{
        margin-top: 80px;
    }
}
@media (max-width:595px){
    .text h1{
        font-size: 60px;
    }
}
@media (max-width:575px){
    .text h1{
        font-size: 50px;
    }
}
@media (max-width: 455px){
    footer{
        width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-wrap: wrap;
       flex-direction: column;
    }
    footer > *{
        margin: 10px 0;
    }
}
@media (max-width:420px){
    .text h1{
        font-size: 35px;
        margin-bottom: 20px;
    }
    nav ul{
        justify-content: center;
    }
    .text h4{
        text-align: center;
    }
}
@media (max-width: 480px){
    .topRated a, .search_movies a, .topRatedShows a, .search_tvshows a{
        font-family: "Montserrat Regular", Arial, Helvetica, sans-serif;
        margin: 12px;
        font-size: 18px;
        transition: 0.25s;
        height: 35px;
        padding: 3px 8px;
        color: #666666;
        position: absolute;
        top: -38px;
        right: 30%;
    }
    .title{
        top: -55px;
        width: auto;
        font-size: 20px;
    }
    .card .overlay .movie a:hover{
        background-color: #e1302a;
        color: #fff;
    }
}
@media (max-width: 325px){
    .text h1{
        font-size: 28px;
    }
}
@media (max-width: 310px){
    nav ul li a{
        font-size: 14px;
    }
    .text h1{
        font-size: 28px;
        text-align: center;
    }
}