/* Import ionicons v2. */
@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#111;
    color: #e53935;
}
a{
    text-decoration: none;
    color: #e53935;
    font-family: "Montserrat Medium", Arial, Helvetica, sans-serif;
}
li{
    list-style-type: none;
}
/* Global end. */

/* Navigation bar. */
nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}
nav ul li{
    margin: 0 5px;
    padding: 5px;
}
nav ul li a{
    position: relative;
    padding: 5px;
    display: block;
}
nav ul li a::after{
    content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 1px;
	border: 2px solid #e53935;
	border-width: 0 0 2px 0;
	transition: 0.3s ease-out;
	opacity: 0;
}
nav ul li a:hover::after{
    width: 100%;
    opacity: 1;
    right: 10px;
}
/* Navigation bar end. */

/* Text */
.text{
    margin-left: 10px;
}
.text h1{
    font-family: "Montserrat Black", Arial, Helvetica, sans-serif;
    font-size: 70px;
    transition: all 0.25s;
}
.text h4{
    font-family: "Montserrat Medium", Arial, Helvetica, sans-serif;
}
.text p{
    font-family: "Montserrat Medium", Arial, Helvetica, sans-serif;
    width: 650px;
}
.text #quote{
    font-family: "Montserrat Medium", Arial, Helvetica, sans-serif;
    color: #fff;
    font-style: italic;
    margin: 20px 0;
    width: 550px;
}
/* Text end. */

/* Homer */
.homer{
    position: absolute;
    right: 15px;
    top: 80px;
}
/* Homer end. */

/* Search movies. */
.search_movies{
    position: relative;
}
.search_movies a{
    font-family: "Montserrat Medium", Arial, Helvetica, sans-serif;
    margin-left: 10px;
    font-size: 22px;
    transition: 0.25s;
}
.search_movies a:hover{
    color: #fff;
}
#movies{
    margin:15px 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    cursor: grabbing;
    cursor: -webkit-grabbing;
}
/* Search movies end */

/* Search tv shows. */
.search_tvshows{
    position: relative;
}
.search_tvshows a{
    font-family: "Montserrat Medium", Arial, Helvetica, sans-serif;
    margin-left: 10px;
    font-size: 22px;
    transition: 0.25s;
}
.search_tvshows a:hover{
    color: #fff;
}
#tvShows{
    margin: 15px 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

/* Footer */
footer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;
    grid-template-areas: 
    "copy deadpool powered";
}
footer .copy{
    grid-area: copy;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat Medium", Arial, Helvetica, sans-serif;
}
footer .deadpool{
    grid-area: deadpool;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .deadpool img{
    width:250px;
}
footer .poweredBy{
    grid-area: powered;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:770px){
    .homer{
        display: none;
    }
}
@media (max-width: 680px){
    .text p{
        width: 90%;
    }
    .text #quote{
        width: 80%;
    }
}
@media (max-width:575px){
    .text h1{
        font-size: 50px;
    }
}
@media (max-width: 455px){
    footer{
        width: 100%;
        grid-template-areas:
        "copy"
        "powered"
        "deadpool";
    }
    footer > *{
        margin-left: 45px;
    }
}
@media (max-width:420px){
    .text h1{
        font-size: 35px;
        margin-bottom: 20px;
    }
    nav ul{
        justify-content: center;
    }
}