/* The Main.css file hold the main CSS (body, links, menus, logo, cards, containers) for all the pages.
That includes (index.html,popular-movies.html,search-movies.html,top-rated.html,search-series.html,series-latest.html, series-popular & series-toprated.html). It also holds the CSS for the menu, burger menu, slide menu for the movie-page.html and shows-page.html. */

/* Target the whole document. */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
select {
	outline: none !important;
	cursor: pointer;
}
/* Global parameters. */
body{
	background-color: #f5f5f5;
	color: #2f3640;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.bodyHidden{
	overflow: hidden;
}
/* SCROLL TO TOP BUTTON */
#scrollToTop{
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 9999;
	width: 40px;
	height: 40px;
	border: none;
	border-radius: 2px;
	padding: 3px;
	transition: all 0.2s ease;
	opacity: 0;
	box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
	background-color: #2f3640;
	cursor: pointer;
	outline: none;
}
#scrollToTop:hover{
	background-color: #f5f5f5;
}
#scrollToTop:hover i {
	color: #2f3640;
}
#scrollToTop i {
	font-size: 30px;
	color: #f5f5f5;
}
#scrollToTop.scrollButtonActive{
	transition: all 0.35s ease;
	opacity: 1;
}
li{
	color: #2f3640;
}
a{
	text-decoration: none;
	color: #2f3640;
}
ul{
	list-style: none;
}
button:focus, button:active{
	outline: none;
}
.change{
	position: absolute;
	margin-left: 35px;
}
/* Button for small screens. */
.burger{
	display: none;
}
/* Menu for small screens. */
.slide{
	display: none
}
.menu span, .slide span{
	margin-left: 5px;
}
/* Spinner */
.spinner:before{
	content: '';
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	height:40px;
	width: 40px;
	border-radius: 50%;
	margin-top: -20px;
	border: 3px solid transparent;
	border-top-color: #e1302a;
	border-bottom-color: #2f3640;
	animation: spinner 0.5s ease infinite;
}
@keyframes spinner{
	from{
		transform:translate(-50%,-50%) rotate(0deg);
	}
	to{
		transform:translate(-50%,-50%) rotate(360deg);
	}
}
/* MATERIAL DESIGN ICONS CSS */
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
  
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
  
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
  
	/* Support for IE. */
	font-feature-settings: 'liga';
  }
/* Global parameters end. */

/* Navigation bar - START. */
nav{
	position: fixed;
	top: 0px;
	width: 100%;
	transition: 0.2s ease;
	background-color: transparent;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
	background-color: #2f3640;
}
nav a{
	color: #fff;
}
.logo{
	font-family: "Montserrat Regular";
	color: #f5f5f5;
	font-size: 12px;
	letter-spacing: 1px;
	margin-left: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo h3 {
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo a{
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;
}
.logo span{
	display: block;
	margin: 0 2px;
	margin-top: 5px;
}
.menu{
	font-family: "Montserrat Regular", Arial, Helvetica, sans-serif;
	font-size: 15px;
}
.menu ul{
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}
.menu ul .list{
	padding: 15px;
	cursor: pointer;
	position: relative;
	transition: all 0.1s;
	transition: 0.25s;
	font-family: "Montserrat Medium";
	text-transform: lowercase;
}
.menu ul .list:hover{
	background-color: #f9f9f9;
}
.menu ul .list:hover a{
	color: #2f3640;
}
.menu ul .list a{
	padding: 5px;
	position: relative;
}
.menu ul .list a:nth-child(1){
	transition: 0.25s;
}
.menu ul .list span{
	display: inline-block;
	opacity: 1;
}
/* SUBMENU */
.submenu{
	position: relative;
	top: 15px;
	z-index: 9;
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 55px;
	background-color: #f9f9f9;
	margin-top: 35px;
	font-family: "Montserrat Regular";
	font-size: 15px;
	text-transform: lowercase;
	transition: all 0.25s ease;
}
.submenu li{
	transition: all 0.25s ease;
	color: #444;
}
.submenu a{
	text-transform: uppercase;
	font-family: "Montserrat Medium";
	display: block;
	text-align: center;
	padding: 17px;
	transition: all 0.15s ease;
	color: #444;
	border-bottom: 0px solid #f0f0f0;
	cursor: pointer;
}
.submenu a:hover{
	color: #2f3640;
	border-bottom: 5px solid #2f3640;
}
/* Navigation bar - END. */

/* Page Title */
.container{
	margin-top: 60px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
/* Page title on lists page and upcoming movies page. */
.title{
	margin-top: 30px;
	margin-bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.title > * {
	margin: 0 10px;
}
.title h1 {
	font-family: "Montserrat Black";
}
.title_upcoming{
	margin-top: 40px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.title_upcoming h1 {
	font-family: "Montserrat Black";
	font-size: 50px;
}
.container h1{
	font-family: "Montserrat Black", Arial, Helvetica, sans-serif;
	text-align: center;
	margin: 5px 0;
	font-size: 50px;
	text-transform: uppercase;
}
#byYear{
	color: #fff;
	font-size: 40px;
	font-weight: bold;
}

/* Movies/Tvshows output - START. */
.showcase{
	margin-top: 35px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.showcase h1{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	text-transform: uppercase;
	font-family: "Montserrat Black";
}
.showcase h2{
	color: #444;
	font-size: 35px;
	font-family: "Montserrat Black";
}
.showcase h1 span{
	font-family: "Montserrat Black";
}
#movies, #tvShows{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 15px;
	margin: 15px 0;
}
.moviesRows p{
	font-family: "Montserrat SemiBold";
	width: 500px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 5px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.moviesRows p a {
	font-family: "Montserrat SemiBold";
	color: #444;
}
.infoText{
	color: #55555570;
}
.infoText a:hover{
	color: #2f3640;
}
@media (min-width: 650px){
	.card{
	height: 500px;
	color: #fff;
	width: 300px;
	position: relative;
	margin-bottom: 30px;
	z-index: 2;
	overflow: hidden;
	cursor: default;
	transition: 0.4s ease;
}
.card .overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	transition: 0.40s ease;
	background-color: rgba(0,0,0,0.65);
}
.card:hover{
	transform: translateY(-15px);
	box-shadow: 0px 6px 10px rgba(0,0,0,0.10);
}
.card:hover .overlay{
	height: 500px;
}
.card .overlay .movie{
	position: absolute;
	bottom:0;
	left: 0;
}
.card .overlay .movie a{
	display: flex;
	position: relative;
	bottom:0;
	left: 0;
	justify-content: center;
	align-items: center;
    padding: 3px;
    width: 70px;
    height: 30px;
    border: none;
    background-color: #fff;
    color: #333;
    font-family: "Montserrat SemiBold";
    margin: 10px 15px;
    cursor: pointer;
	transition: 0.2s ease;
	outline: none !important;
}
.card .overlay .movie a:hover{
    background-color: #2f3640;
    color: #fff;
}
.movie p {
    font-family: "Montserrat SemiBold";
    color: #fff;
    font-size: 16px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
}
.movie p span{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.movie p i {
	margin-left: 5px;
	margin-bottom: 2px;
	font-size: 22px;
}
.star{
	color: gold;
}
.date{
	text-shadow: 3px 3px rgba(0,0,0,0.35);
	color: #f2f2f2;
}
.card .overlay .movie h2{
    font-family: "Montserrat Black";
    width: 290px;
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
	padding: 5px;
	text-align: left;
}
.card .card_img img{
	width: 100%;
	height: 500px;
	z-index: 2;
	overflow: hidden;
}
.card .card_img{
	height: 500px;
	overflow: hidden;
	z-index: 2;
}

}
.card .addBtn{
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
}
.card .addBtn > *{
	margin: 0 3px;
}
.addBtn i {
	font-size: 35px;
	opacity: 0;
	transition: 0.2s ease-out;
	cursor: pointer;
	color: #fff;
	display: block;
	transform:scale(0);
}
.card:hover .addBtn i{
	opacity: 1;
	transform: scale(0.9);
}
.addBtn .trash:hover{
	animation: trash 0.5s ease forwards infinite;
}
@keyframes trash{
	0%{
		transform: rotate(0deg)
	}
	33%{
		transform:rotate(15deg) 
	}
	66%{
		transform:rotate(-15deg)
	}
	100%{
		transform: rotate(0deg)
	}
}
.addBtn .watch{
	color: #eee;
	transition: 0.2s ease;
}
.addBtn .watch:hover{
	color: #76FF03;
	animation: queue 0.8s ease forwards infinite;
}
@keyframes queue {
	0%{
		transform: translateY(0px);
	}
	50%{
		transform: translateY(-2px)
	}
	100%{
		transform: translateY(2px);
	}
}
.addBtn .favorite{
	color: #eee;
}
.addBtn .favorite:hover{
	color: #e1302a;
	animation: heart 0.65s ease forwards infinite;
}
.addBtn .watchMarked{
	color: #76FF03;
}
.addBtn .favoriteMarked{
	color: #e1302a;
}
@keyframes heart {
	0%{
		transform:scale(1) rotate(0deg);
	}
	50%{
		transform: scale(1.2) rotate(15deg);
	}
	55%{
		transform: scale(1.2) rotate(15deg);
	}
	100%{
		transform: scale(1) rotate(0deg);
	}
}
/* MOVIE / TV SHOW OUTPUT CARDS END*/

/* Buttons for pages */
.pages{
	width: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
#prev, #next {
	margin: 20px 25px;
	font-size: 18px;
	font-weight: bold;
	font-family: "Montserrat Black", Arial, Helvetica, sans-serif;
	border:none;
	border-radius: 3px;
	background-color: #fff;
	box-shadow: 0 3px rgba(0,0,0,0.1);
	color: #2f3640;
	width: auto;
	padding: 0 5px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: 0.3s ease;
}
#prev:hover, #next:hover{
	color: #333;
	box-shadow: 0px 2px 15px rgba(0,0,0,0.3);
}
/* Movies/Tvshows output - END. */
#searchedFor{
	font-family: "Montserrat Black";
}
#searchedFor span{
	font-family: "Montserrat Black";
	margin-left: 10px;
	color: #333;
	text-transform: capitalize;
}
/* Form - search-movies/search-series */
.container_search #form{
	display: flex;
	justify-content: center;
	margin: 20px 0px;
	z-index: -10;
	opacity: 0;
	position: relative;
	height: 0px;
	transform:translateY(-30px);
	animation: test 0.5s ease-in-out forwards;
}
@keyframes test {
	0%{
		transform: translateY(-30px);
		height: 0px;
		opacity: 0;
		z-index: -10;
	}
	100%{
		transform: translateY(10px);
		height: 40px;
		opacity: 1;
		z-index: 7;
	}
}
.container_search #form input{
	padding: 5px;
	border-radius: 3px;
	border: none;
	background-color: #fff;
	box-shadow: 0 5px 5px rgba(0,0,0,0.10);
	color: #2f3640;
	width: 300px;
	font-family: "Montserrat Medium", Arial, Helvetica, sans-serif;
	position: relative;
}
.container_search #searchImg i{
	display: inline-block;
	font-size: 20px;
	position: absolute;
	bottom: 8px;
	left: 3px;
	transform:rotate(90deg);
}
#form input::placeholder{
	font-size: 14px;
	color: rgba(0,0,0,0.6);
}
#form input:focus{
	outline: none;
}
#byActor{
	color: #e1302a;
	text-transform: capitalize;
}
#genreName{
	color: #e1302a;
}
#questionMark{
	padding: 5px 10px;
	background-color: #fff;
	font-weight: bold;
	font-family: "Times New Roman", Arial, Helvetica, sans-serif;
	font-style: italic;
	font-size: 30px;
	color: #333;
	cursor: pointer;
	margin-left: 5px;
	border: none;
	border-radius: 3px;
	box-shadow: 0 5px 5px rgba(0,0,0,0.1);
	transition: 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
}
#questionMark:hover{
	background-color: #2f3640;
	color: #fff;
}
.modal{
	display: block;
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	font-weight: 500;
	width: 450px;
	background-color: #fff;
	color: #e1302a;
	border-radius: 3px;
	text-align: center;
	position: absolute;
	z-index: -2;
	top:50%;
	left: 50%;
	opacity: 0;
	box-shadow: 0px 4px 15px rgba(0,0,0,0.20);
	transform:translate(-50%, -50%);
	transition: 0.35s ease;
}
.modal_container{
	position: relative;
	width: 100%;
	min-height:180px;
	padding: 20px;
}
.modalActive{
	z-index: 99;
	opacity: 1;
	transform: translate(-50%, -50%);
}
.modal_container h3{
	position: absolute;
	left: 15px;
	top: 0;
	color: #e1302a;
	font-family: "Montserrat Black";
	font-size: 22px;
}
.modal hr{
	position: absolute;
	top: 25px;
	left: 0px;
	width: 100%;
	border: none;
	height: 1px;
	background-color: rgba(0,0,0,0.2);
	display: block;
}
.modal_container p{
	position: absolute;
	top: 30px;
	left: 15px;
	text-align: left;
	color: #333;
	font-family: "Montserrat Regular";
}
.modal_container #modalGotIt{
	display: block;
	border: none;
	border-radius: 2px;
	width: 70px;
	height: 30px;
	position:absolute;
	bottom: 0;
	right: 5px;
	cursor: pointer;
	font-family: "Montserrat SemiBold";
	background-color: #333;
	color: #fff;
	outline: none;
}
.modal > *{
	margin: 5px 0;
}
/* Select */
.wrap{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 5px;
	transition: all 0.35s;
}
.wrap > *{
	margin: 0 -25px;
}
#selectedGenres{
	width: 250px;
	margin: 15px auto;
	padding: 3px 7px;
	font-family: "Montserrat SemiBold", Arial, Helvetica, sans-serif;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	transition: 0.25s;
	opacity: 0;
	display: block;
	position: relative;
	box-shadow: 0 2px 5px rgba(0,0,0,0.15);
	animation: select 0.35s ease-in-out 1 forwards;
	outline: none;
}
#dates{
	width: 130px;
	margin-bottom: 15px;
	padding: 3px 7px;
	font-family: "Montserrat Medium", Arial, Helvetica, sans-serif;
	border: none;
	border-radius: 3px;
	transition: 0.25s;
	opacity: 0;
	position: relative;
	box-shadow: 0 2px 5px rgba(0,0,0,0.15);
	animation: select 0.35s ease-in-out 1 forwards;
}

.remove{
	outline: none !important;
	display: none;
	padding: 5px;
	border-radius: 3px;
	border: none;
	background-color: #e1302a;
	color: #fff;
	font-family: "Montserrat Medium", Arial, Helvetica, sans-serif;
	font-size: 14px;
	transition: 0.25s;
	cursor: pointer;
	box-shadow: 0 3px rgba(0,0,0,0.1);
}
.remove:hover{
	background-color: #fff;
	color: #2f3640;
	box-shadow: 4px 4px rgba(0,0,0,0.15);
}
.notification{
	z-index: 999;
	background-color: #00C853;
	padding: 10px;
	border-radius: 3px;
	width: auto;
	font-family: "Montserrat Medium", Arial, Helvetica, sans-serif;
	color: #fff;
	position: fixed;
	left: 30px;
	bottom: -50px;
	opacity: 0;
	box-shadow: 0 5px 5px rgba(0,0,0,0.35);
}
#alreadyStored{
	background-color: #e1302a;
}
.notification.added{
	animation: notification 2s forwards;
}
.notification.alreadyStored{
	animation: notification 2s forwards;
}
@keyframes notification{
	0%{
		opacity: 0;
		transform:translateY(-50px);
	}
	50%{
		opacity: 1;
		transform: translateY(-100px);
	}
	80%{
		opacity: 1;
		transform: translateY(-100px);
	}
	100%{
		opacity: 0;
		transform: translateY(-100px);
	}
}
/* RANDOM MOVIE / TV SHOW */
.randomContainer{
	display: none;
	width: 350px;
	min-height: 300px;
	background-color:#f5f5f5;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
	position: absolute;
	top: 200px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9;
}
.smallCard{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 10px;
}
.smallMovie{
	display: flex;
	margin-top: 15px;
}
.smallMovie_info{
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-left: 10px;
	position: relative;
}
.smallMovie_info a{
	margin-top: 25px;
	width: 80px;
	text-align: center;
	padding: 5px;
	background-color: #2f3640;
	color: #f5f5f5;
}
.reloadRandom{
	display: flex;
	justify-content: center;
	align-items: center;
}
.smallMovie_info .closeSmallCard{
	position: absolute;
	right: 0px;
	bottom: 0px;
	cursor: pointer;
}
.smallMovie_info .closeSmallCard i{
	font-size: 30px;
}
.smallCard_img{
	width: 185px;
	height: 100%;
}
.smallCard_img img{
	width: 185px;
}

/* 				Media Queries 			*/

/* 4k screens */
@media (min-width:3840px){
	#movies, #tvShows{
		grid-template-columns: repeat(10,1fr);
	}
}
@media (max-width: 3840px){
	#movies, #tvShows{
		grid-template-columns: repeat(7,1fr);
	}
}
/* 1440p screens */
@media (max-width:2560px){
	#movies, #tvShows{
		grid-template-columns: repeat(5,1fr);
	}
}
@media (max-width: 1600px){
	#movies, #tvShows{
		grid-template-columns: repeat(4,1fr);
	}
}
/* Max-width 1300 px. */
@media(max-width: 1300px){
	#movies, #tvShows{
		grid-template-columns: repeat(3,1fr);
	}
}
@media (max-width: 1024px){
	.card .overlay{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 500px;
		transform: translateY(0px);
		transition: 0.30s ease-in-out;
		background-color: rgba(0,0,0,0.4);
	}

	.card:hover .addBtn i{
		opacity: 1;
		transform: scale(1);
	}
	.card .addBtn i{
		opacity: 1;
		transform:scale(1);
		font-size: 30px;
	}
}
/* Max-width 970 px. */
@media (max-width: 970px){
	#movies, #tvShows{
		grid-template-columns: repeat(2,1fr);
	}
}
/* Max-width 684 px. */
@media (max-width: 684px){
	.title{
		margin-top: 45px;
		flex-direction: column;
	}
	.container_search{
		margin-top: 40px;
	}
	#searchedFor{
		text-align: center;
		flex-direction: column;
	}
	.menu{
		display: none;
	}
	.submenu{
		display: none;
	}
	#form{
		margin-top: 30px;
	}
	.burger{
		height: 30px;
		width: 30px;
		display: block;
		margin-right: 15px;
		margin-top: 5px;
		position: relative;
		overflow: hidden;
		cursor: pointer;
	}
	.burger span{
		width: 100%;
		height: 5px;
		border-radius: 15px;
		background-color: #fff;
		display: block;
		position: absolute;
		transition: all 0.35s ease;
	}
	nav{
		padding: 5px 0;
	}
	.sticky .burger span{
		background-color: #fff;
	}
	.burger span:nth-child(1){
		top: 0px;
		left: 0px;
	}
	.burger span:nth-child(2){
		top: 11px;
		left: 0px;
	}
	.burger:hover span:nth-child(2){
		left: 0px;
	}
	.burger span:nth-child(3){
		top: 22px;
	}
	.burger.active span:nth-child(1){
		top: 15px;
		transform:rotate(45deg);
		z-index: 9;
	}
	.burger.active span:nth-child(2){
		left: 30px;
		opacity: 0;
	}
	.burger.active span:nth-child(3){
		top:15px;
		transform:rotate(-45deg);
		z-index: 9;
	}
	.burger.active span{
		background-color: #2f3640;
	}
	.burger.active:hover span{
		background-color: #e1302a;
	}
	.slide{
		display: block;
		position: absolute;
		top: 0px;
		color: #2f3640;
		width: 100%;
		min-height: 100vh;
		background-color: #f5f5f5;
		transition: all 0.5s;
		font-weight: bold;
		z-index: 8;
		transform: translateX(-700px);
		font-family: "Montserrat SemiBold", Arial, Helvetica, sans-serif;
	}
	.slide.slideIn{
		transform: translateX(0px);
	}
	.slide a{
		color:#2f3640;
		transition: 0.35s;
		display: block;
	}
	.slide a:hover{
		color: #e1302a;
	}
	.slide ul{
		margin-top: 25px;
	}
	.slide ul li{
		padding: 15px;
		font-size: 20px;
		text-align: left;
		transition: all 0.2s;
		cursor: pointer;
		display: block;
		position: relative;
		color: #2f3640;
	}
	.slide ul li span{
		position: absolute;
		left: 95px;
		opacity: 0;
		font-size: 20px;
	}
	.slide ul li:hover{
		color: #e1302a;
	}
	.slide ul li #moviesDropdown{
		display: none;
	}
	.slide ul li #moviesDropdown.drop{
		display: block;
		animation: smallDrop 1s forwards;
	}
	.slide ul li #seriesDropdown{
		display: none;
	}
	.slide ul li #seriesDropdown.drop{
		display: block;
		animation: smallDrop 1s forwards;
	}
	.slide ul li #myListsDropdown{
		display: none;
	}
	.slide ul li #myListsDropdown.drop{
		display: block;
		animation: smallDrop 1s forwards;
	}
	.slide ul li ul li{
		font-size: 16px;
		display: block;
		padding: 10px;
		margin: 0;
		width: 100%;
		text-align: left;
	}
	.slide ul li ul li a{
		color: #2f3640;
	}
}
/* Max-width 650 px. */
@media(max-width: 650px){

	#searchedFor{
		top: -25px;
		left: 15px;
	}
	#movies, #tvShows{
		margin-top: 30px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.card{
		height: 400px;
		color: #e1302a;
		width: 280px;
		position: relative;
		transition: 0.2s;
		z-index: 2;
		overflow: hidden;
		cursor: default;
	}
	#movies .card:first-of-type, #tvShows .card:first-of-type{
		margin-top: 25px;
	}
	#movies > *, #tvShows > *{
		margin: 20px 0;
	}
	.card .overlay{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 400px;
		transition: 0.30s ease-in-out;
		background-color: rgba(0,0,0,0.4);
	}
	.card .overlay .movie{
		position: absolute;
		bottom:0;
		left: 0;
	}
	.card .overlay .movie a{
		display: flex;
		position: relative;
		bottom:0;
		left: 0;
		justify-content: center;
		align-items: center;
		padding: 3px;
		width: 70px;
		height: 30px;
		border: none;
		background-color: #fff;
		color: #333;
		font-family: "Montserrat SemiBold";
		margin: 10px 15px;
		cursor: pointer;
		transition: 0.2s ease;
		outline: none !important;
	}
	.card .overlay .movie a:hover{
		background-color: #222;
		color: #fff;
	}
	.movie p {
		font-family: "Montserrat Medium";
		color: #fff;
		font-size: 16px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.movie p span{
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	.movie p i {
		margin-left: 5px;
		margin-bottom: 2px;
		font-size: 22px;
	}
	.star {
		color: gold;
	}
	.date {
		color: #f2f2f2;
		text-shadow: 3px 3px rgba(0,0,0,0.35);
	}
	.card .overlay .movie h2{
		font-family: "Montserrat Black";
		width: auto;
		font-size: 30px;
		color: #fff;
		text-transform: uppercase;
		padding: 5px;
		text-align: left;
	}
	.card .card_img img{
		width: 100%;
		height: 400px;
		z-index: 2;
	}
	.card .card_img{
		height: 400px;
		z-index: 2;
		transition: 0.2s ease-out;
	}
	.upcoming{
		height: 550px;
	}
	.upcoming img{
		width: 100%;
		height: 450px;
	}
}
/* Max-width 530px. */
@media (max-width:530px){

	.modal{
		width: 85%;
	}
	.modal_container{
		position: relative;
		width: 100%;
		min-height:190px;
	}
	#movies .card:first-of-type, #tvShows .card:first-of-type{
		margin-top: 25px;
	}
	.card{
		margin: 10px 0;
	}
}
@media (max-width: 455px){
	.moviesRows p{
		font-family: "Montserrat SemiBold";
		width: 100%;
		margin: 0 auto;
		text-align: center;
		display: flex;
		justify-content: center;
		padding: 5px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
}
@media (max-width: 435px){
	.modal_container{
		position: relative;
		width: 100%;
		min-height:250px;
	}
	#movies .card:first-of-type, #tvShows .card:first-of-type{
		margin-top: 25px;
	}
}
@media (max-width: 400px){

}
@media( max-width: 384px){

}
@media (max-width:356px){
	.modal_container{
		position: relative;
		width: 100%;
		min-height:260px;
	}
	.container_search #form input {
		width: 80%;
	}
	.container h1 {
		font-size: 45px;
	}
}
/* Max-width 320 px. */
@media (max-width: 320px){

	.title_upcoming h1{
		font-size: 45px;
	}
	.card{
		margin: 20px 0;
		width: 260px;
		height: 470px;
		transition: all 0.35s;
	}
	#movies .card:first-of-type, #tvShows .card:first-of-type{
		margin-top: 25px;
	}
	.card .card_text{
		height: 130px;
	}
	.card_img{
		width: 260px;
	}
	.card_img img{
		width: 260px;
		transition: all 0.35s;
	}
}
@media (max-width: 305px){
	.container h1 {
		font-size: 42px;
	}
}
/* ANIMATIONS  */

/* Animation for dropdown menu on small screens. */
@keyframes smallDrop{
	0%{
		opacity: 0;
		transform:translateX(-100px);
	}
	100%{
		opacity: 1;
		transform:translateX(0px)
	}
}

/* Animation for select tag. */
@keyframes select{
	0%{
		opacity: 0;
		transform: translateY(-30px)
	}
	100%{
		opacity: 1;
		transform: translateY(0px)
	}
}