/* The Main.css file hold the main CSS (body, links, menus, logo, cards, containers) for all the pages.
That includes (index.html,popular-movies.html,search-movies.html,top-rated.html,search-series.html,series-latest.html, series-popular & series-toprated.html). It also holds the CSS for the menu, burger menu, slide menu for the movie-page.html and shows-page.html. */

/* Import Ionicons. */
@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";
/* Target the whole document. */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Global parameters. */
body{
	color: #eee;
	background-color: #121010;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
a{
	text-decoration: none;
	color: #eee;
}
ul{
	list-style: none;
}
/* Button for small screens. */
.burger{
	display: none;
}
/* Menu for small screens. */
.slide{
	display: none
}
.menu span, .slide span{
	margin-left: 5px;
}
/* Spinner */
.spinner:before{
	content: '';
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	height:40px;
	width: 40px;
	border-radius: 50%;
	margin-top: -20px;
	border: 3px solid #eee;
	border-top-color: #00E670;
	animation: spinner 0.5s ease infinite;
}

@keyframes spinner{
	from{
		transform:translate(-50%,-50%) rotate(0deg);
	}
	to{
		transform:translate(-50%,-50%) rotate(360deg);
	}
}
/* Global parameters end. */

/* Navigation bar - START. */
nav{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	color: #eee;
}
nav a{
	color: #eee;
}
.logo{
	font-family: "Berkshire Swash Regular";
	font-size: 22px;
	margin-left: 30px;
}
.menu{
	font-weight: bold;
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
.menu ul{
	display: flex;
	margin-right: 50px;
	z-index: 2;
}
.menu ul li{
	padding: 15px;
	cursor: pointer;
	position: relative;
	transition: all 0.3s;
	margin: 0 5px;
}
.menu ul li:hover{
	color: #00E676;
}
.menu ul li a{
	padding: 5px;
	position: relative;
}
.menu ul li a:nth-child(1):hover{
	color: #00E676;
}
.menu ul li span{
	display: inline-block;
	opacity: 1;
}
.menu ul li:hover span{
	animation: upNdown 0.6s ease-in-out forwards infinite;
}
.menu ul li ul{
	display: none;
	position: relative;
}
.menu ul li:hover ul{
	display: block;
	position: absolute;
	top: 40px;
	left: 0;
	background-color: #eee;
	width: 184px;
	box-shadow: 0 3px 5px rgba(0,0,0,0.4);
	animation: dropdown 0.5s ease-out forwards;
}
.menu ul li ul li{
	display: block;
	width: 100%;
	margin: 0;
	padding: 10px;
	transition: all 0.3s;
}
.menu ul li ul li:hover{
	background-color:#333;
	padding-left: 5px;
}
.menu ul li ul li a{
	display: block;
	color: #333;
	padding: 5px;
	transition: all 0.3s;
}
.menu ul li ul li:hover a{
	color:#00E676;
}
@keyframes dropdown{
	0%{
		opacity: 1;
		transform:translateY(25px);
	}
	100%{
		opacity: 1;
		transform:translateY(0px);
	}
}
/* Navigation bar - END. */

/* Page Title */
.container h1{
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	text-align: center;
	margin: 25px 0;
	font-size: 45px;
}
#byYear{
	color: #00E676;
	font-size: 35px;
	font-weight: bold;
}
/* Movies/Tvshows output - START. */
.showcase{
	position: relative;
	display: flex;
	justify-content: center;
}
#movies{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 25px;
	text-align: center;
}
.card{
	height: 550px;
	background-color: #222;
	color: #eee;
	width: 300px;
	position: relative;
	transition: 0.35s;
}
.card:hover{
	color: #00E670;
	box-shadow: 0 5px 8px rgba(0,0,0,0.5);
	transform: translateY(-15px);
}
.card a{
	display: block;
	width: 100%;
	color: goldenrod;
	font-weight: bold;
	padding: 6px;
	transition: 0.2s;
	font-family: "montserrat";
	font-weight: bold;
	position: absolute;
	bottom: 0;
}
.card a:hover{
	background-color: rgba(0,0,0,0.55);
	color: #00E670;
}
/* Buttons for pages */
.pages{
	display:none;
	position: absolute;
	bottom: -3%;
	left: 50%;
	transform:translateX(-50%);
}
.pages > *{
	padding: 5px 15px;
	background-color: #222;
	color: #00E670;
	font-family: "Poppins";
	font-weight: bold;
	font-size: 25px;
	margin: 0 10px 10px 10px;
	border-radius: 3px;
	transition: 0.2s ease-out;
	cursor: pointer;
}
.pages > *:hover{
	background-color:#00E670;
	color: #222;
}
/* Movies/Tvshows output - END. */

/* Form - search-movies/search-series page. */
#form{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
#form input{
	padding: 5px;
	border-radius: 3px;
	border: none;
	background-color: #eee;
	color: #0277bd;
	width: 250px;
	font-family: "Poppins";
}
#form input:focus{
	outline: none !important;
}
#byActor{
	text-transform: capitalize;
}

/* 				Media Queries 			*/

/* Max-width 1300 px. */
@media(max-width: 1300px){
	#movies{
		grid-template-columns: repeat(3,1fr);
	}
}
/* Max-width 970 px. */
@media (max-width: 970px){
	#movies{
		grid-template-columns: repeat(2,1fr);
	}
}
/* Max-width 684 px. */
@media (max-width: 684px){
	.menu{
		display: none;
	}
	.burger{
		height: 30px;
		width: 28px;
		display: block;
		margin-right: 15px;
		margin-top: 15px;
		position: relative;
		overflow: hidden;
		cursor: pointer;
	}
	.burger span{
		width: 100%;
		height: 5px;
		border-radius: 2px;
		background-color: #00E670;
		display: block;
		position: absolute;
		transition: all 0.5s;
	}
	.burger span:nth-child(1){
		top: 0px;
	}
	.burger span:nth-child(2){
		top: 11px;
	}
	.burger span:nth-child(3){
		top: 22px;
	}
	.burger.active span:nth-child(1){
		top: 15px;
		transform:rotate(45deg);
		z-index: 9;
	}
	.burger.active span:nth-child(2){
		left: -30px;
		opacity: 0;
	}
	.burger.active span:nth-child(3){
		top:15px;
		transform:rotate(-45deg);
		z-index: 9;
	}
	.burger.active:hover span{
		background-color: #EF5350;
		box-shadow: 0 1px 5px rgba(0,0,0,0.3);
	}
	.slide{
		display: block;
		position: absolute;
		top: 0px;
		color: #0277bd;
		width: 100%;
		background-color: #eee;
		transition: all 0.35s;
		font-weight: bold;
		z-index: 2;
		transform: translateX(-700px);
	}
	.slide.slideIn{
		transform: translateX(0px);
	}
	.slide a{
		color:#0277bd;
		display: block;
	}
	.slide a:hover{
		color: #EF5350;
	}
	.slide ul li{
		padding: 15px;
		font-size: 20px;
		text-align: center;
		transition: all 0.2s;
		cursor: pointer;
		display: block;
		position: relative;
	}
	.slide ul li span{
		position: absolute;
		left: 95px;
		opacity: 0;
		font-size: 20px;
	}
	.slide ul li:hover span{
		animation: upNdown 0.4s ease-in-out forwards;
	}
	.slide ul li:hover{
		color: #EF5350;
	}
	.slide ul li #moviesDropdown{
		display: none;
	}
	.slide ul li #moviesDropdown.drop{
		display: block;
		animation: smallDrop 1s forwards;
	}
	.slide ul li #seriesDropdown{
		display: none;
	}
	.slide ul li #seriesDropdown.drop{
		display: block;
		animation: smallDrop 1s forwards;
	}
	.slide ul li ul li{
		font-size: 16px;
		display: block;
		padding: 10px;
		margin: 0;
		width: 100%;
		text-align: left;
	}
	.slide ul li ul li:hover{
		background-color: #CFD8DC;
		color: #0277bd;
	}
	.slide ul li ul li a{
		color: #EF5350;
	}
}
/* Max-width 650 px. */
@media(max-width: 650px){
	#movies{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.card{
		margin: 25px 10px;
	}
}
/* Max-width 320 px. */
@media (max-width: 320px){
	.card{
		width: 280px;
		transition: all 0.35s;
	}
	.card img{
		width: 280px;
		transition: all 0.35s;
	}
}
/* Animation for dropdown menu on small screens. */
@keyframes smallDrop{
	0%{
		opacity: 0;
		transform:translateX(-100px);
	}
	100%{
		opacity: 1;
		transform:translateX(0px)
	}
}
/* Animation for span element in the menu (both large & small screens). */
@keyframes upNdown{
	0%{
		transform:translateY(-3px);
	}
	100%{
		transform:translateY(3px);
	}
}