/* The movie-page.css file hold the CSS for both the movies-page.html && shows-page.html.  
#0091EA
#E53935*/

body{
	width: 100%;
	background-color: #eee;
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
/* Movie/tv show page container (both poster and info sections). */
.moviePage{
	display: flex;
	flex-wrap: wrap;
}
/* Movie/tv show poster - START. */
.poster{
	padding: 20px;
}
.poster img{
	box-shadow: 0 3px 10px rgba(0,0,0,0.45);
}
/* Movie/tv show poster - END. */

/* Movie/tv show info - START. */
.info{
	flex-direction: column;
	font-size:18px;
	padding: 20px;
	font-family: "Montserrat Medium", Arial, Helvetica, sans-serif;
}
.info h2{
	font-family: "Montserrat Black", Arial, Helvetica, sans-serif;
	font-size: 35px;
	color:#E53935;
}
.plot{
	padding: 20px;
	font-family: "Montserrat Medium", Arial, Helvetica, sans-serif;
	flex-shrink: 16px;
}
.plot h3{
	color: #E53935;
}
.buttons{
	margin-top: 25px;
}
.buttons > *{
	margin: 0 5px;
}
.buttons a{
	font-family: "Montserrat Medium", Arial, Helvetica, sans-serif;
	font-size: 16px;
	padding: 5px;
	background-color: #fff;
	border-radius: 5px;
	color: #0091EA;
	text-align: center;
	transition: 0.2s;
	position: relative;
	overflow: hidden;
} 
.buttons a:hover{
	background-color: #E53935;
	color: #fff;
	box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}
#errorTitle{
	font-family: "Montserrat Black", Arial, Helvetica, sans-serif;
}
.errorBack{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-40%);
	width: 120px;
}
#errorText{
	text-align: center;
	width: auto;
	font-family: "Montserrat Medium",Arial, Helvetica, sans-serif;
}
.page{
	width: 100%;
	display: flex;
	justify-content: center;
}
#prev, #next {
	margin: 5px 5px;
	font-size: 25px;
	font-weight: bold;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	background-color: #222;
	color: #fff;
	padding:0 10px;
	cursor: pointer;
	border-radius: 3px;
	transition: 0.3s ease;
}
#prev:hover, #next:hover{
	background-color: #222;
	color: #E53935;
}
/* Movie/tv show info - END. */

/* Movie/tv show trailer - START. */
#trailer{
	position: absolute;
	top: 0%;
	left:50%;
	transform: translate(-50%,0%);
	width: 100%;
	display: none;
	justify-content: center;
	margin: 15px 0;
	z-index: 999;
}
.overlay{
	display:none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.7);
}
#close{
	display: inline;
	font-size: 25px;
	font-weight: bold;
	cursor: pointer;
	font-family: "Poppins";
	transition: 0.3s;
}
#close:hover {
	color: #E53935;
}
#trailer iframe{
	border-radius: 5px;
}
/* Movie/tv show trailer - END. */

/* Movie/tv show recommended - START. */
#recommended{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	min-height: 450px;
	overflow: hidden;
}
#recommended > *{
	margin: 15px 15px;
}
#rec_title{
	padding: 20px;
	color: #E53935;
}
.recommended_card{
	text-align: center;
	width: 200px;
	background-color: #0091EA;
	color: #fff;
	border-radius: 3px;
	transition: 0.35s;
	position: relative;
	animation: recommended 0.5s ease-in forwards;
}
@keyframes recommended{
	0%{
		opacity: 0;
		transform: translateX(-300px)
	}
	100%{
		opacity: 1;
		transform: translateX(0px)
	}
}
.recommended_card:hover{
	transform:translateY(-10px);
	color: #fff;
	box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}
.recommended_card img{
	border-radius: 3px;
}
.recommended_card a{
	margin: 0;
	display: block;
	width: 100%;
	transition: 0.3s;
	padding: 5px;
	color:  goldenrod;
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	font-weight: bold;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	position: absolute;
	bottom: 0;
}
.recommended_card a:hover{
	background-color: rgba(0,0,0,0.6);
	color: #E53935;
}
/* Movie/tvshow recommended - END. */

/* 		Media Queries		 */

/* Max-width 854 px. */
@media(max-width: 854px){
	.moviePage{
		justify-content: flex-start;
	}
	.moviePage .poster{
		margin: 0 auto;
	}
}
/* Max-width 450 px. */
@media (max-width: 450px){
	#trailer iframe {
		width: 100%;
	}
}
/* Max-width 430 px. */
@media (max-width: 430px){
	.buttons{
		display: flex;
		flex-direction: column;
		align-items: center
	}
	.buttons > *{
		margin: 5px 0;
		width: 65%;
	}
}
/* Max-width 360 px. */
@media (max-width: 360px){
	.poster{
		width: 100%;
		padding-bottom: 0;
	}
	.poster img{
		width: 100%;
	}
}