/* The movie-page.css file hold the CSS for both the movies-page.html && shows-page.html.  */

body{
	width: 100%;
	background-color: #121010;
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
/* Movie/tv show page container (both poster and info sections). */
.moviePage{
	display: flex;
	flex-wrap: wrap;
}
/* Movie/tv show poster - START. */
.poster{
	padding: 20px;
}
.poster img{
	box-shadow: 0 3px 10px rgba(0,0,0,0.8);
}
/* Movie/tv show poster - END. */

/* Movie/tv show info - START. */
.info{
	flex-direction: column;
	font-size:18px;
	padding: 20px;
}
.info h2{
	font-size: 35px;
	color: #00E670;
}
.plot{
	padding: 20px;
	font-family: "Poppins", sans-serif;
	flex-shrink: 16px;
}
.plot h3{
	color: #00E670;
}
.buttons{
	margin-top: 25px;
}
.buttons > *{
	margin: 0 5px;
}
.buttons a{
	font-family: "Poppins";
	font-size: 16px;
	font-weight: bold;
	padding: 5px;
	background-color: #222;
	border-radius: 5px;
	color: #00E670;
	text-align: center;
	transition: 0.3s;
	position: relative;
	overflow: hidden;
} 
.buttons a:hover{
	background-color: #00E670;
	color: #222;
	box-shadow: 0 3px 8px rgba(0,0,0,0.2);
} 

/* Movie/tv show info - END. */

/* Movie/tv show trailer - START. */
#trailer{
	position: absolute;
	top: 0%;
	left:50%;
	transform: translate(-50%,0%);
	width: 100%;
	display: none;
	justify-content: center;
	margin: 15px 0;
	z-index: 999;
}
.overlay{
	display:none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.7);
}
#close{
	display: inline;
	font-size: 25px;
	font-weight: bold;
	cursor: pointer;
	font-family: "Poppins";
	transition: 0.3s;
}
#close:hover {
	color: #00E670;
}
#trailer iframe{
	border-radius: 5px;
}
/* Movie/tv show trailer - END. */

/* Movie/tv show recommended - START. */
#recommended{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	font-family: Arial, Helvetica, sans-serif;
}
#recommended > *{
	margin: 15px 15px;
}
#rec_title{
	padding: 20px;
	color: #00E670;
}
.recommended_card{
	text-align: center;
	width: 200px;
	background-color: #222;
	color: #eee;
	border-radius: 3px;
	transition: 0.35s;
	position: relative;
}
.recommended_card:hover{
	transform:translateY(-10px);
	color: #00E670;
	box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}
.recommended_card img{
	border-radius: 3px;
}
.recommended_card a{
	margin: 0;
	display: block;
	width: 100%;
	transition: 0.3s;
	padding: 5px;
	color:  goldenrod;
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	font-weight: bold;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
.recommended_card a:hover{
	background-color: rgba(0,0,0,0.55);
	color: #00E670;
}
/* Movie/tvshow recommended - END. */

/* 		Media Queries		 */

/* Max-width 854 px. */
@media(max-width: 854px){
	.moviePage{
		justify-content: flex-start;
	}
	.moviePage .poster{
		margin: 0 auto;
	}
}
/* Max-width 450 px. */
@media (max-width: 450px){
	#trailer iframe {
		width: 100%;
	}
}
/* Max-width 430 px. */
@media (max-width: 430px){
	.buttons{
		display: flex;
		flex-direction: column;
		align-items: center
	}
	.buttons > *{
		margin: 5px 0;
		width: 65%;
	}
}
/* Max-width 360 px. */
@media (max-width: 360px){
	.poster{
		width: 100%;
		padding-bottom: 0;
	}
	.poster img{
		width: 100%;
	}
}